extends layout 

block content
    h1= title
    form(action='/new' method="POST")
        input(
        name="messageUser"
        placeholder="User"
        type="text"
        )
        input(
            name="messageText"
            placeholder="Message"
            type="text"
        )
        button(type='submit') Submit